.container-header {
	grid-column: 1 / -1;
	grid-row: 2 / 3;

	background: url("../img/residential-big.jpg") center no-repeat;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;

	text-align: center;
	color: #000;

	&-hero--main {
		/* h1 tag */
		position: absolute;
		padding-top: 3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 5rem;
		/* glitch does not recognize $bp-medium */
		@media only screen and (max-width: 50em) {
			font-size: 4rem;
		}
	}
}

.hero-main {
	overflow: hidden;
	display: block;
	position: relative;
	text-align: center;
	width: 15rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
}
