.container-services {
	grid-column: 1 / -1;
	grid-row: 3 / 4;

	min-width: 30%;
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	font-size: 1.8rem;
	color: rgb(192, 50, 50);
	background: #fff;
	@media only screen and (max-width: 50em) {
		flex-direction: column;
	}
}

.multi-column-container {
	padding: 1rem;
	background: #000;
	border: solid #fff;
	box-shadow: 0 3px 5px #000;
	height: 100%;
	&--items {
		font-size: 1.6rem;
		color: rgb(2, 56, 63);
		padding: 1rem;
		background: rgb(78, 82, 107);
		list-style-type: none;
	}
}

/* */
.container-projects {
	display: none;
}

.container-about {
	display: none;
}

.container-contact {
	display: none;
}

.w3-container {
	display: none;
}
