.testimonial__header {
	grid-column: 1 / -1;
	grid-row: 9 / 10;
	width: 100%;
	padding: 6rem;

	letter-spacing: 1rem;
	color: white;

	// background-color: var(--blackRGBA);
	background-image: linear-gradient(
		to right bottom,
		$color-secondary-light,
		$color-secondary-dark
	);
	& h2 {
		&:before {
			content: "";
			width: 3px;
			height: 100%;
			border: solid 3px yellow;
			background-color: yellow;
			margin-right: 3rem;
		}
		&:after {
			content: "";
			width: 3px;
			height: 100%;
			border: solid 3px yellow;
			background-color: yellow;
			margin-left: 3rem;
		}
	}
}

.testimonial__container {
	grid-column: 1 / -1;
	grid-row: 10 / 11;

	// height: auto;
	height: 100vh;
	width: 100%;
	padding: 6rem;

	background: $color-white;
	&--wrapper {
		position: relative;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;

		justify-content: flex-end;
		background: pink;
	}
}
