  <footer class="footer" id="contact">
    <section class="footer__container">
      <div class="footer--info">

        <div class="footer__info--address">
          J & M General Contractors 
          Fullerton, CA
        </div>
        <div class="footer__info--phone">
          Call us: <a class="footer__phone--number" href="tel:866-755-4001">866-755-4001</a> 
        </div>
        <p>
        OR
        to reach
        </p>
        <div class="footer__info--sub-contact">
          <p>Nancy Montellano/Office Manager: <a class="footer__phone--number" href="tel:714-323-0649">714-323-0649</a></p>
          <p>Katrina Shuper/Administration: <a class="footer__phone--number" href="tel:714-872-7224">714-872-7224</a></p>
        </div>
        <div class="footer__info--email">
          Email us: SERVICE@JMGCINC.COM
        </div>
      </div>
    </section>
    <strong class="license--number"><p>License</p>#1002460</strong>
  </footer>
  </body>
</html>