<div class="slider">
  <div class="slide current">
    <div class="content">
    </div>
  </div>
  <div class="slide">
    <div class="content">
    </div>
  </div>
  <div class="slide">
    <div class="content">
    </div>
  </div>
</div>