<div class="typewriter__container">
  <h1 class="typewriter--header1">
    <p>J&M</p> 
    <p>General Contractors</p>
    <!-- <span class="txt-type" data-wait="3000" data-words='["Contractors", "Services", "Staff"]'></span> -->
  </h1>
  <div class="typewriter--lower">
    <h3 class="typewriter--header2">Call us to get a free quote for your next project</h3>
    <a class="phone-number" href="tel:999-999-9999">(999) - 999 - 9999</a>
    <a class="btn btn-generic" id="main-button" href="/contact">Contact</a>
  </div>
</div>