<div class="typewriter__container">
  <h1 class="typewriter--header1">J&M 
    <br>
    General Contractors
    <!-- <span class="txt-type" data-wait="3000" data-words='["Contractors", "Services", "Staff"]'></span> -->
  </h1>
  
  <br>
    <h3 class="typewriter--header2">Contact Us!</h3>
    <br>
    <a class="btn btn-generic" id="main-button" href="/contact">Contact</a>
</div>