// COLOR VARIABLES
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
:root {
	--background: rgb(255, 255, 255);
	// --background: rgba(255, 255, 255, 0.5);
	--backgroundFooter: #1e1e1e;
	--footerFontColor: #7b7b7b;
	--black: #000; 
	--orange: #f26722;
	--orange-linear: rgba(239, 103, 35, 1);
	--yellow-linear: rgba(239, 201, 26, 1);
	--yellow: #f5e608;
	--danger: #ff0000;
	--passed: #31e63a;
	--white: #fff;
	--blackRGBA: rgba(0, 0, 0, 0.61);
	--whiteRGBA: rgba(255,255,255, 0.8);
	--gradientWhite: linear-gradient(
		0deg,
		rgb(211, 211, 211) 0%,
		rgb(255, 255, 255) 100%
	);

	--gradientBlack: linear-gradient(0deg,rgba(82, 82, 82, 1))
	/* radius */
	--smRad: 3px;
	--mdRad: 5px;
	--lgRad: 7px;

	// sizes
	--bpLargest: 75em; // 1200px
	--bpLarge: 62.5em; // 1000px
	--bpMedium: 50em; // 800px;
	--bpSmallest: 37.5em; // 600px;
}
// COLORS
$color-primary: #ffaa2b;

$color-primary-light: rgba(0, 0, 0, 0.9);
$color-primary-dark: rgba(39, 52, 99, 0.9);

$color-secondary-light: rgba(0, 0, 0, 0.9);
$color-secondary-dark: rgba(39, 52, 99, 0.9);

// $color-tertiary-light: #2998ff;
// $color-tertiary-light: #2998ff;

$color-tertiary-light:rgba(0, 0, 0, 0.9);
$color-tertiary-dark: rgba(39, 52, 99, 0.9);

$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// $color-primary: #f9f7f6;

$color-secondary: #101d2c;

$color-grey-light-1: #d1d0d0;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$sm-rad: 3px;

// FONT VARIABLES
$font-primary: "Lora", serif;;
// $font-primary: "Lato", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// FONT
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px; 

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	// box-sizing: inherit;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

	@media only screen and (max-width: $bp-largest) {
		font-size: 50%;
	}
}

body {
	font-family: $font-primary;
	color: var(--black);
	font-weight: 300;
	line-height: 1.6;

	background-color: $color-grey-light-2;
}

.container {
	display: grid;
	/* top to bottom */
	grid-template-rows: min-content 100vh repeat(10, min-content);
	/* left to right */
	grid-template-columns:
		[grid-start] minmax(6rem, 1fr) [center-start] repeat(
			8,
			[col-start] minmax(min-content, 14rem) [col-end]
		)
		[center-end] minmax(6rem, 1fr) [grid-end];
	/*gap: 1rem 1rem;*/
}

::selection {
    background-color: $color-secondary-dark;
    color: $color-white;
}