  <!-- Footer Information -->
  <h3 class="footer__header">
    Contact Us
    <hr>
  </h3>
  <section class="footer__info">
    <div class="footer__info--address">
      J & M General Contractors 
      <br>
      Fullerton, CA 
      License # 1002460
    </div>
    <div class="footer__info--phone">
      Call us: 866-755-4001 
    </div>
    <br>
    <p>
      OR
      <br>
      <br>
      to reach
    </p>
    <br>
    <br>
    <div class="footer__info--sub-contact">
      Nancy Montellano/Office Manager: 714-323-0649
      <br>
      Katrina Shuper/Administration: 714-872-7224
    </div>
    <br>
    <br>
    <br>
    <div class="footer__info--email">
      Email us:SERVICE@JMGCINC.COM
    </div>
  </section>