<!-- Form -->
<section class="footer__form">
	<p>
		Thank you for taking the time to contact us!
		
		To request your free estimate, please use the 
		form below to give us some 
		
		details about your project.
	</p>
	<form class="form" action="/" method="POST">
		<div class="form__group">
			<input 
				class="form__input" 
				type="text" 
				name="name" 
				id="name" 
				placeholder="Name" 
				pattern="[A-Z a-z]{1,50}"
				required
			>
			<label class="form__label" for="name">Name </label>
		</div>
		<div class="form__group">
			<input 
				type="email" 
				name="email" 
				class="form__input" 
				placeholder="Email address" 
				id="email" 
				required
			>
			<label 
				for="email" 
				class="form__label"
			>
				Email address
			</label>
		</div>
		<textarea 
			name="comment" 
			id="comments" 
			autocomplete="off" 
			cols="30" 
			rows="10" 
			placeholder="Comment Max characters 140" 
			maxlength="140"
			onfocus="this.value='';"
			class="form__textarea">
		</textarea>
		<label 
			for="comment" 
			class="form__label"
		>
			Comment
		</label>
		<div class="form__group">
			<button class="form__button">
				Submit
			</button>
		</div>
	</form>
</section>