<div class="testimonial__header header__style" id="testimonial">
  <!-- intersection observer -->
  <h2 class="title">Testimonial</h2>
  <!-- intersection observer end -->
</div>
<section class="testimonial__container">
  <div class="testimonial__container--wrapper">
    <figure class="review">
      <figcaption class="review__user">
        <!-- <img src="" alt="User 1" class="review__photo"> -->
        <div class="review__user--box">
          <p class="review__user--name">Mike Haydis</p>
          <p class="review__user--date">Feb 23rd, 2017</p>
        </div>
        <div class="review__rating">5 stars</div>
        <br>
        <blockquote class="review__para">
          I have used J & M on two commercial and several residential projects over the last few years. 
          They have always come through with exceptional service and dependability. 
          I would recommend to anyone looking for a one stop shop for any home improvement and commercial tenant improvements.  
          Thank you guys for always being there for us!
          </blockquote>
        </figcaption>
      </figure>
    <figure class="review">
      <figcaption class="review__user">
        <!-- <img src="" alt="User 1" class="review__photo"> -->
        <div class="review__user--box">
          <p class="review__user--name">M D</p>
          <p class="review__user--date">Feb 23rd, 2017</p>
        </div>
        <div class="review__rating">5 stars</div>
        <br>
          <blockquote class="review__para">
            We have had them do work at our house on 
            the stucco and electrical work both inside and 
            outside our house (new wiring, new lights, new electrical 
            boxes & switches). The entire team was great - professional, 
            clean, polite and the work was great.
            I would highly recommend!
          </blockquote>
      </figcaption>
    </figure>
    <figure class="review">
      <figcaption class="review__user">
        <!-- <img src="" alt="User 1" class="review__photo"> -->
        <div class="review__user--box">
          <p class="review__user--name">James McFarland</p>
          <p class="review__user--date">Feb 23rd, 2017</p>
        </div>
        <div class="review__rating">5 stars</div>
        <br>
        <blockquote class="review__para">
          We have had them do work at our house on 
          the stucco and electrical work both inside and 
          outside our house (new wiring, new lights, new electrical 
          boxes & switches). The entire team was great - professional, 
          clean, polite and the work was great.
          I would highly recommend!
        </blockquote>
      </figcaption>
    </figure>
  </div>
</section>