<div class="typewriter__container">
  <h1 class="typewriter--header1">J<p class="middle">&</p>M <br>Great
    <span class="txt-type" data-wait="3000" data-words='["Contractors", "Services", "Staff"]'></span>
  </h1>
  <h2 class="typewirter--header2">Contact Us For a Quote</h2>
</div>
<!-- <button class="typewriter--button button">Contact Us</button> -->