@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
:root {
  --background: rgb(255, 255, 255);
  --backgroundFooter: #1e1e1e;
  --footerFontColor: #7b7b7b;
  --black: #000;
  --orange: #f26722;
  --orange-linear: rgba(239, 103, 35, 1);
  --yellow-linear: rgba(239, 201, 26, 1);
  --yellow: #f5e608;
  --danger: #ff0000;
  --passed: #31e63a;
  --white: #fff;
  --blackRGBA: rgba(0, 0, 0, 0.61);
  --whiteRGBA: rgba(255,255,255, 0.8);
  --gradientWhite: linear-gradient(
		0deg,
		rgb(211, 211, 211) 0%,
		rgb(255, 255, 255) 100%
	);
  --gradientBlack: linear-gradient(0deg,rgba(82, 82, 82, 1))
	/* radius */
	--smRad: 3px;
  --mdRad: 5px;
  --lgRad: 7px;
  --bpLargest: 75em;
  --bpLarge: 62.5em;
  --bpMedium: 50em;
  --bpSmallest: 37.5em; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lora", serif;
  color: var(--black);
  font-weight: 300;
  line-height: 1.6;
  background-color: #fff; }

.container {
  display: grid;
  /* top to bottom */
  grid-template-rows: min-content 100vh repeat(10, min-content);
  /* left to right */
  grid-template-columns: [grid-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [grid-end];
  /*gap: 1rem 1rem;*/ }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: min-content 80vh repeat(10, min-content); } }

::selection {
  background-color: rgba(39, 52, 99, 0.9);
  color: #fff; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
h2 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase; }

h3 {
  text-align: center;
  font-size: 2.3rem;
  text-transform: uppercase; }

h4 {
  text-align: center;
  font-size: 1.9rem;
  text-transform: uppercase; }

h5 {
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase; }

a {
  text-decoration-line: none;
  color: #000;
  color: black; }

@keyframes zoom {
  from {
    transform: scale(0.1); }
  to {
    transform: scale(1); } }

.header {
  z-index: 9999;
  background: #fcfeff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw; }

.logo {
  padding-left: 15vw; }
  .logo-img {
    width: auto;
    height: 5rem;
    margin-top: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: top; }

/* makes it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  display: none; }
  @media only screen and (max-width: 50em) {
    .nav-toggle {
      display: flex; } }
  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 2px solid rgba(173, 216, 230, 0.75); }
  .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem 0 0 0;
    padding: 0 1rem;
    height: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateY(-6rem); }
    @media only screen and (max-width: 50em) {
      .nav-toggle-label {
        transform: translateX(-2rem); } }

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  display: none; }
  @media only screen and (max-width: 50em) {
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
      display: block; } }

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute; }

.nav-toggle-label span::before {
  bottom: 7px; }

.nav-toggle-label span::after {
  top: 7px; }

.nav {
  position: relative;
  padding-right: 6rem; }

.nav__list {
  list-style: none;
  font-size: 2rem;
  display: flex;
  opacity: 1;
  z-index: -99999; }
  @media only screen and (max-width: 50em) {
    .nav__list {
      opacity: 1;
      width: 100vw;
      position: absolute;
      right: 0;
      top: -1px;
      transform: translateY(-25rem);
      flex-direction: column;
      align-items: center;
      padding-bottom: 1rem;
      font-size: 1.75rem;
      letter-spacing: 0.3rem;
      color: white;
      z-index: -99999; } }
  .nav__list--item {
    padding: 0 0.7rem;
    border-radius: 5px; }
    .nav__list--item:hover {
      opacity: 0.4; }
  @media only screen and (max-width: 50em) {
    .nav__list .nav--link {
      opacity: 0; } }

@media only screen and (max-width: 50em) {
  .hamburger {
    position: absolute;
    z-index: -9999;
    transform: translateY(3.2rem);
    background: white; }
    .hamburger .nav--link {
      opacity: 1; } }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (image) */
.modal-content {
  margin: 0 auto 0 auto;
  display: block;
  max-width: 57rem;
  object-fit: cover;
  border: solid 1rem #fff; }

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  height: 10.5rem;
  max-width: 70rem;
  font-size: 2.3rem;
  text-align: center;
  color: #ccc;
  padding: 10px 0; }
  #caption:before {
    content: "";
    width: 3px;
    height: 100%;
    border: solid 3px yellow;
    background-color: yellow;
    margin-right: 3rem; }
  #caption:after {
    content: "";
    width: 3px;
    height: 100%;
    border: solid 3px yellow;
    background-color: yellow;
    margin-left: 3rem; }

/* Add Animation */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s; }

/* The Close Button */
.close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: #f1f1f1;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.3s;
  z-index: 100; }
  .close::after {
    content: "close";
    background: #7d1e1e;
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
    border: solid 2px white;
    padding: 0 1rem; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 80% Image Width on Smaller Screens */
@media only screen and (max-width: 50em) {
  .modal-content {
    width: 80%; } }

.galleryDisplay {
  position: relative;
  width: 100%;
  padding: 1rem; }

.galleryDisplay__container {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  padding: 1rem 0; }

.modal-content--bottom {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  opacity: 0.5;
  margin: 0 1rem; }
  .modal-content--bottom:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.05); }

.slider {
  overflow: hidden;
  height: 100%;
  width: auto;
  z-index: -10; }

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out; }
  .slide.current {
    opacity: 1; }

@media (max-width: 500px) {
  .slide .content {
    bottom: -30rem;
    left: 0;
    width: 100%; }
  .slide.current .content {
    transform: translateY(-30rem); } }

/* Backgorund Images */
.slide:first-child {
  background: url("..//..//img/Laguna Woods.jpg") no-repeat center center/cover; }

.slide:nth-child(2) {
  background: url("..//..//img/McFarland Final.png") no-repeat center center/cover; }

.slide:nth-child(3) {
  background: url("..//..//img/gal-9.jpeg") no-repeat center center/cover; }

.typewriter__container {
  position: absolute;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 0 14rem 0 0;
  background: rgba(194, 192, 192, 0.534);
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 58% 100%, 0% 100%); }
  @supports (backdrop-filter: blur(4px)) {
    .typewriter__container {
      backdrop-filter: blur(4px); } }
  @media only screen and (max-width: 50em) {
    .typewriter__container {
      width: 100%;
      height: 100%;
      padding: 0 1rem;
      margin: auto auto;
      clip-path: none;
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.541), rgba(39, 52, 99, 0.568));
      border-radius: 1rem; } }

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777; }

.typewriter--header1,
.typewriter--header2 {
  color: var(--black);
  font-weight: 200;
  margin: 0.4rem; }
  @media only screen and (max-width: 50em) {
    .typewriter--header1,
    .typewriter--header2 {
      color: var(--white); } }

.typewriter--header1 {
  font-size: 4rem;
  text-align: center; }
  @media only screen and (max-width: 62.5em) {
    .typewriter--header1 {
      font-size: 4rem; } }
  @media only screen and (max-width: 50em) {
    .typewriter--header1 {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .typewriter--header1 {
      font-size: 2.5rem; } }

.typewriter--header2 {
  font-size: 2rem;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 50em) {
    .typewriter--header2 {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 37.5em) {
    .typewriter--header2 {
      font-size: 1.5rem; } }

.typewriter--lower {
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: center;
  font-size: 2rem; }
  .typewriter--lower .phone-number {
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #fff;
    padding-bottom: 1rem; }
    @media only screen and (max-width: 50em) {
      .typewriter--lower .phone-number {
        color: #000; } }

.header__style {
  width: 100%;
  padding: 6rem 0 6rem 0;
  letter-spacing: 1rem;
  color: var(--white);
  background-color: white;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(39, 52, 99, 0.9));
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }

.title {
  transition: all 0.5s; }

.btn {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  word-spacing: normal;
  overflow: hidden; }

.btn-generic {
  width: 40%;
  margin: 0 auto 0 auto;
  font-family: inherit;
  font-size: 2rem;
  padding: 0.5em 1em;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  border: 1px solid #999;
  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0);
  /*IE9 + everything else*/
  background: #fa9601;
  background: linear-gradient(90deg, var(--orange-linear) 0%, var(--yellow-linear) 100%);
  text-decoration: none;
  border-radius: 2rem; }
  .btn-generic:hover, .btn-generic:focus {
    background-image: linear-gradient(90deg, var(--orange-linear) 20%, var(--yellow-linear) 80%); }
  .btn-generic:focus {
    outline: 0; }
  .btn-generic:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
    border-color: #000; }

.btn-expand {
  width: 5%;
  height: 20%;
  margin: 0 auto 0 auto;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  border: 1px solid black;
  background: white;
  text-decoration: none; }
  .btn-expand:focus {
    outline: 0; }
  .btn-expand:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
    border-color: #000; }
  @media only screen and (max-width: 50em) {
    .btn-expand {
      width: 15%; } }

#form-button {
  min-width: 20%;
  width: 20%; }
  @media only screen and (max-width: 62.5em) {
    #form-button {
      width: 30%; } }
  @media only screen and (max-width: 50em) {
    #form-button {
      width: 40%; } }
  @media only screen and (max-width: 37.5em) {
    #form-button {
      width: 100%; } }

#main-button {
  width: 40%; }
  @media only screen and (max-width: 37.5em) {
    #main-button {
      width: 50%; } }

.interGallHeader {
  opacity: 1;
  transform: translateX(0); }

.container-header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  z-index: -1; }
  .container-header-hero--main {
    /* h1 tag */
    padding-top: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .container-header-hero--main {
        font-size: 4rem; } }

.hero-main {
  overflow: hidden;
  display: block;
  position: relative;
  text-align: center;
  width: 15rem;
  color: #fff;
  font-size: 6rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%; }

.hero-sub {
  color: var(--white);
  display: inline-block;
  font-size: 4rem;
  letter-spacing: 1.75rem; }

.container-projects {
  display: none; }

.service__header {
  color: white; }

.card-container {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 6rem 0;
  color: black; }

.card {
  position: relative;
  height: auto;
  width: 100%;
  padding: 0 6rem; }
  @media only screen and (max-width: 50em) {
    .card {
      padding: 0; } }
  .card:not(:last-child) {
    margin-bottom: 3rem; }
  .card__side {
    height: auto;
    position: relative;
    width: 100%;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--upper {
      background-color: #fff; }
    .card__side--bottom {
      background-image: linear-gradient(#273463, black); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    width: 100%;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-size: bottom;
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(39, 52, 99, 0.9)), url(../img/gal-1.jpeg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(39, 52, 99, 0.9)), url(../img/gal-2.jpeg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(39, 52, 99, 0.9)), url(../img/gal-3.jpeg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.85), rgba(39, 52, 99, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.85), rgba(39, 52, 99, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.85), rgba(39, 52, 99, 0.85)); }
  .card__details {
    padding: 3rem;
    height: 20%; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 2rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #aaa; }
    .card__details--1, .card__details--2, .card__details--3 {
      height: 32vh; }
  .card__cta {
    position: relative;
    top: 0%;
    left: 47%;
    transform: translate(0);
    width: auto; }
    @media only screen and (max-width: 50em) {
      .card__cta {
        left: 45%; } }
    @media only screen and (max-width: 37.5em) {
      .card__cta {
        left: 43%; } }
  @media only screen and (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; } }

.expand--1 {
  height: 100%; }

.expand--2 {
  height: 100%; }

.expand--3 {
  height: 100%; }

.gallery__wrapper {
  background-color: #fff;
  width: 100%;
  padding: 6rem; }
  @media only screen and (max-width: 50em) {
    .gallery__wrapper {
      padding-left: 0;
      padding-right: 0; } }

.gallery {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
    @media only screen and (max-width: 50em) {
      .gallery__item--1 {
        grid-row: 1 / span 4;
        grid-column: 1 / span 4; } }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
    @media only screen and (max-width: 50em) {
      .gallery__item--2 {
        grid-row: 1 / span 4;
        grid-column: 5 / span 4; } }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / 7; }
    @media only screen and (max-width: 50em) {
      .gallery__item--3 {
        grid-row: 13 / span 4;
        grid-column: 1 / span 4; } }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / -1; }
    @media only screen and (max-width: 50em) {
      .gallery__item--4 {
        grid-row: 13 / span 4;
        grid-column: 5 / span 4; } }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
    @media only screen and (max-width: 50em) {
      .gallery__item--5 {
        grid-row: 5 / span 4;
        grid-column: 1 / span 4; } }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
    @media only screen and (max-width: 50em) {
      .gallery__item--6 {
        grid-row: 5 / span 4;
        grid-column: 5 / span 4; } }
  .gallery__item--7 {
    grid-row: 4 / 5;
    grid-column: 5 / 6; }
    @media only screen and (max-width: 50em) {
      .gallery__item--7 {
        grid-row: 17 / span 4;
        grid-column: 7 / span 2; } }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
    @media only screen and (max-width: 50em) {
      .gallery__item--8 {
        grid-row: 17 / span 4;
        grid-column: 1 / span 2; } }
  .gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / -1; }
    @media only screen and (max-width: 50em) {
      .gallery__item--9 {
        grid-row: 17 / span 4;
        grid-column: 3 / span 2; } }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / 2; }
    @media only screen and (max-width: 50em) {
      .gallery__item--10 {
        grid-row: 9 / span 4;
        grid-column: 1 / span 4; } }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
    @media only screen and (max-width: 50em) {
      .gallery__item--11 {
        grid-row: 9 / span 4;
        grid-column: 5 / span 4; } }
  .gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / 5; }
    @media only screen and (max-width: 50em) {
      .gallery__item--12 {
        grid-row: 21 / span 4;
        grid-column: 5 / span 4; } }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
    @media only screen and (max-width: 50em) {
      .gallery__item--13 {
        grid-row: 21 / span 4;
        grid-column: 1 / span 4; } }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / -1; }
    @media only screen and (max-width: 50em) {
      .gallery__item--14 {
        grid-row: 17 / span 4;
        grid-column: 5 / span 2; } }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.35s; }
    .gallery__img:hover {
      opacity: 0.5;
      cursor: pointer; }
  @media only screen and (max-width: 50em) {
    .gallery {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(24, 5vw);
      grid-gap: 0.5rem; } }

.about__container {
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 6rem; }
  @media only screen and (max-width: 50em) {
    .about__container {
      padding-left: 0;
      padding-right: 0; } }
  .about__container--wrapper {
    position: relative;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .about__container--para {
    padding: 6rem;
    font-size: 2rem; }

.form--container {
  width: 50%;
  min-height: 70vh;
  margin: 0 auto;
  padding: 6rem 0;
  font-size: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .form--container {
      width: 87%; } }

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
  background: #fff; }
  .form--thanks {
    text-align: center; }
  .form__label {
    font-size: 1.5rem;
    display: block;
    pointer-events: none;
    transition: all 0.3s; }
  .form__textarea {
    resize: none;
    border-radius: 5px; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__input {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    font-family: inherit;
    color: #000;
    padding: 1rem;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid black;
    transition: all 0.3s; }
    .form__input::placeholder {
      color: #929292; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid var(--yellow); }
    .form__input:focus:valid {
      border-bottom: 3px solid var(--passed); }
    .form__input:focus:invalid {
      border-bottom: 3px solid var(--danger); }

.submit__container {
  padding-top: 6rem;
  height: 50%; }

.submit-thanks {
  text-align: center;
  font-size: 3rem; }

.testimonial__container {
  height: auto;
  width: 100%;
  height: 100%;
  padding: 6rem;
  background: #fff; }
  @media only screen and (max-width: 50em) {
    .testimonial__container {
      padding-left: 0;
      padding-right: 0; } }
  .testimonial__container--wrapper {
    position: relative;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    width: auto;
    height: 100%;
    padding: 2rem 1.5rem 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    text-overflow: auto; }
    @media only screen and (max-width: 50em) {
      .testimonial__container--wrapper {
        flex-direction: column; } }

.review {
  text-align: center;
  padding: 1rem;
  border: solid 1px black;
  margin: 1rem 0; }
  .review__user--name {
    font-size: 2.4rem; }
  .review__rating {
    border-bottom: solid 1px black; }

.review__para {
  overflow: visible;
  width: 100%;
  position: relative;
  padding: 1rem;
  text-align: left;
  z-index: 1; }
  .review__para::before {
    content: "\201C";
    color: rgba(133, 133, 133, 0.4);
    position: absolute;
    top: 7rem;
    left: -1rem;
    line-height: 0;
    font-size: 15rem;
    z-index: 0; }
  .review__para::after {
    content: "\201e";
    color: rgba(133, 133, 133, 0.4);
    position: absolute;
    top: -3rem;
    right: 0;
    line-height: 0;
    font-size: 15rem;
    z-index: 0; }
  @media only screen and (max-width: 50em) {
    .review__para {
      padding: 0 3rem; } }

.footer {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 100%;
  width: 100%;
  padding: 3rem 0;
  background: #000;
  color: #fff; }
  .footer__phone--number {
    color: rgba(251, 255, 0, 0.719); }
    .footer__phone--number:hover {
      color: red; }
  .footer__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 50em) {
      .footer__container {
        flex-direction: column;
        align-items: center;
        justify-content: stretch; } }

.footer--info {
  width: 100%;
  height: 100%;
  text-align: center; }
  @media only screen and (max-width: 50em) {
    .footer--info {
      padding: 3rem 0;
      width: 90%;
      height: 30%;
      font-size: 1.5rem; } }

.license--number {
  display: inline-block;
  text-align: end;
  padding: 0 6rem;
  font-size: 1.7rem;
  color: rgba(251, 255, 0, 0.719); }
  .license--number p {
    display: inline-block;
    padding: 0 1rem;
    color: white; }
