// Service header
.service__header {
	color: white;
} // end of Service Header

.card-container {
	position: relative;
	height: auto;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-color: $color-white;
	// overflow: hidden;

	padding: 5rem 0;
	color: black;
}

.card {
	// FUNCTIONALITY
	position: relative;
	height: auto;
	width: 90%;

	@media only screen and (max-width: $bp-medium) {
		width: 100%;
	}
	&:not(:last-child) {
		margin-bottom: 3rem;
	}

	&__side {
		height: auto;
		// margin-top: 3rem;
		// position: absolute;
		position: relative;
		width: 100%;
		border-bottom-left-radius: 3px;
		overflow: hidden;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

		&--upper {
			background-color: $color-white;
		}

		&--bottom {
			background-image: linear-gradient(
				rgba(39, 52, 99, 1),
				rgba(0, 0, 0, 1)
			);
			&-1 {
				// background-image: linear-gradient(
				// 	to right bottom,
				// 	$color-secondary-light,
				// 	$color-secondary-dark
				// );
			}

			&-2 {
				// background-image: linear-gradient(
				// 	to right bottom,
				// 	$color-primary-light,
				// 	$color-primary-dark
				// );
			}

			&-3 {
				// background-image: linear-gradient(
				// 	to right bottom,
				// 	$color-tertiary-light,
				// 	$color-tertiary-dark
				// );
				// margin: -2rem 0 0 0;
			}
		}
	}

	// FRONT SIDE STYLING
	&__picture {
		background-size: cover;
		height: 23rem;
		width: 100%;
		background-blend-mode: screen;
		// -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		// clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		&--1 {
			background-size: bottom;
			background-image: linear-gradient(
					to right bottom,
					$color-secondary-light,
					$color-secondary-dark
				),
				url(../img/gal-1.jpeg);
		}

		&--2 {
			background-image: linear-gradient(
					to right bottom,
					$color-primary-light,
					$color-primary-dark
				),
				url(../img/gal-2.jpeg);
		}

		&--3 {
			background-image: linear-gradient(
					to right bottom,
					$color-tertiary-light,
					$color-tertiary-dark
				),
				url(../img/gal-3.jpeg);
		}
	}

	&__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: right;
		color: $color-white;
		position: absolute;
		top: 12rem;
		right: 2rem;
		width: 75%;
	}

	&__heading-span {
		padding: 1rem 1.5rem;
		// will have the style after the text breaks or wraps
		// https://developer.mozilla.org/en-US/docs/Web/CSS/box-decoration-break
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;

		&--1 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-secondary-light, 0.85),
				rgba($color-secondary-dark, 0.85)
			);
		}

		&--2 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-primary-light, 0.85),
				rgba($color-primary-dark, 0.85)
			);
		}

		&--3 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-tertiary-light, 0.85),
				rgba($color-tertiary-dark, 0.85)
			);
		}
	}

	&__details {
		padding: 3rem;
		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;

			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;

				&:not(:last-child) {
					border-bottom: 1px solid $color-grey-light-2;
				}
			}
		}

		&--1 {
			height: 30vh;
		}

		&--2 {
			height: 30vh;
		}

		&--3 {
			height: 30vh;
		}
	}

	&__cta {
		position: relative;
		top: 0%;
		left: 92%;
		transform: translate(0);
		width: auto;
	}

	//@include respond(tab-port) {
	@media only screen and (max-width: 56.25em) {
		height: auto;
		border-radius: 3px;
		background-color: $color-white;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

		&__side {
			height: auto;
			position: relative;
			box-shadow: none;
		}

		// &__details {
		// 	padding: 1rem 3rem;
		// }
	}
}

.expand--1 {
	height: 68vh;
}
.expand--2 {
	height: 75vh;
}
.expand--3 {
	height: 98vh;
}
