.form--container {
	width: 50%;
	min-height: 70vh;
	margin: 0 auto;

	padding: 6rem 0;
    font-size: 2rem;
    
    @media only screen and (max-width: $bp-small) {
        width: 87%;
    }
}

.form {
	display: flex;
	flex-direction: column;

	padding: 1rem 0;
	width: 100%;
	background: $color-white;

	&--thanks {
		text-align: center;
	}
	&__group {
		
	}

	&__label {
		font-size: 1.5rem;

		display: block;
		pointer-events: none;
		transition: all 0.3s;
	}

	&__textarea {
		resize: none;
		border-radius: 5px;
	}

	&__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
	}
	
	&__input {
		display: block;
		width: 100%;

		font-size: 1.8rem;
		font-family: inherit;
		// color: $color-white;
		color: $color-black;

		padding: 1rem;

		border: none;
		border-radius: 2px;
		border-bottom: 3px solid black;

		transition: all 0.3s;

		&::placeholder {
			color: #929292;
		}

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
			border-bottom: 3px solid var(--yellow);
		}

		&:focus:valid {
			border-bottom: 3px solid var(--passed);
			
		}
		&:focus:invalid {
			border-bottom: 3px solid var(--danger);
		}
	}
}

.submit__container {
	padding-top: 6rem;
	height: 50%;
}
.submit-thanks {
	text-align: center;
	font-size: 3rem;
}