
.footer {
	display: flex;
	flex-direction: column;

	font-size: 2rem;
	height: 100%;
	width: 100%;
	padding: 3rem 0;

	background: $color-black;
	color: $color-white;

	&__phone--number {
		color: rgba(251, 255, 0, 0.719);
		&:hover {
			color: red;
		}
	}

	&__container {
		display: flex;
		justify-content: center;

		width: 100%;
		height: 100%;

		
		@media only screen and(max-width: $bp-medium) {
			flex-direction: column;
			align-items: center;
			justify-content: stretch;
		}
	}

}

.footer--info {
	width: 100%;
	height: 100%;

	text-align: center;

	@media only screen and(max-width: $bp-medium) {
		padding: 3rem 0;
		width: 90%;
		height: 30%;

		font-size: 1.5rem;
	}
}

.license--number {
	display: inline-block;
	text-align: end;
	padding: 0 6rem;
	font-size: 1.7rem;

	color: rgba(251, 255, 0, 0.719);
	& p {
		display: inline-block;
		padding: 0 1rem;
		color: white;
	}

}