<section class="footer__social">
  <div class="footer__social--icons">
    <a class="footer__social--icon" 
      target="_blank" 
      href="https://facebook.com/pages/category/Contractor/JM-General-Contractors-Inc-103544624395607/">
      <i class="fab fa-facebook-square"></i>
    </a>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-yelp"></i>
    <i class="fab fa-twitter-square"></i>
  </div>
</section>
</footer>