.btn {
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	word-spacing: normal;
	overflow: hidden;
}

.btn-generic {
	width: 40%;
	margin: 0 auto 0 auto;

	font-family: inherit;
	font-size: 2rem;
	padding: 0.5em 1em;
	color: #444; /* rgba not supported (IE 8) */
	color: rgba(0, 0, 0, 0.8); /* rgba supported */
	border: 1px solid #999; /*IE 6/7/8*/
	border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/

	background: rgb(250, 150, 1);
	background: linear-gradient(
		90deg,
		var(--orange-linear) 0%,
		var(--yellow-linear) 100%
	);

	text-decoration: none;
	border-radius: 2rem;

	&:hover,
	&:focus {
		background-image: linear-gradient(
			90deg,
			var(--orange-linear) 20%,
			var(--yellow-linear) 80%
		);
	}

	&:focus {
		outline: 0;
	}

	&:active {
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
			0 0 6px rgba(0, 0, 0, 0.2) inset;
		border-color: #000;
	}
}

.btn-expand {
	width: 8%;
	height: 20%;
	margin: 0 auto 0 auto;
	font-family: inherit;
	font-size: 2rem;
	font-weight: 600;
	padding: 0.5em 1em;

	color: #444; /* rgba not supported (IE 8) */
	color: rgba(0, 0, 0, 0.8); /* rgba supported */
	border: 1px solid rgb(0, 0, 0);

	background: rgb(255, 255, 255);

	text-decoration: none;

	&:hover,
	&:focus {
	}

	&:focus {
		outline: 0;
	}

	&:active {
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
			0 0 6px rgba(0, 0, 0, 0.2) inset;
		border-color: #000;
	}
}

#form-button {
	width: 100%;
}

#main-button {
	width: 40%;
	@media only screen and (max-width: $bp-small) {
		width: 50%;
	}
}
