.slider {
	// position: relative;
	overflow: hidden;
	height: 100%;
	width: auto;
	z-index: -10;
}

// where image is shown
.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
	&.current {
		opacity: 1;
	}
}

@media (max-width: 500px) {
	.slide .content {
		bottom: -30rem;
		left: 0;
		width: 100%;
	}

	.slide.current .content {
		transform: translateY(-30rem);
	}
}

/* Backgorund Images */

.slide:first-child {
	background: url("..//..//img/Laguna Woods.jpg") no-repeat center
		center/cover;
	}
	.slide:nth-child(2) {
	background: url("..//..//img/McFarland Final.png") no-repeat
		center center/cover;
}
.slide:nth-child(3) {
	background: url("..//..//img/gal-9.jpeg") no-repeat center
		center/cover;
}
