<header class="header">
  <h1 class="logo"><img class="logo-img" src="./img/images/Logo.jpg" alt="Logo"></h1>
  <input type="checkbox" id="nav-toggle" class="nav-toggle"/>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__list--item"><a href="#">Home</a></li>
      <li class="nav__list--item"><a href="#services">Services</a></li>
      <li class="nav__list--item"><a href="#gallery">Gallery</a></li>
      <li class="nav__list--item"><a href="#about">About</a></li>
      <li class="nav__list--item"><a href="#testimonial">Testimonial</a></li>
      <li class="nav__list--item"><a href="#contact" >Contact</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>