<%- include ("../partials/header") -%>
<div class="footer__header header__style">
  <h2 class="title">
    Contact Us
  </h2>
</div>
<section class="form--container">
  <% if(!submit) { %>
  <p class="form--thanks">
    Thank you for taking the time to contact us! To request your free estimate, please use the form below to give us some details about your project.
  </p>
  <form class="form" action="/contact" method="POST">
    <div class="form__group">
      <input 
      class="form__input" 
      type="text" 
        name="name" 
      id="name" 
      placeholder="Name" 
      pattern="[A-Z a-z]{1,50}"
      required
      >
      <label class="form__label" for="name">Name </label>
    </div>
    <div class="form__group">
      <input 
      type="email" 
      name="email" 
      class="form__input" 
      placeholder="Email address" 
      id="email" 
      required
      >
      <label class="form__label" for="email">Email address</label>
    </div>
    <div class="form__group">
      <textarea 
      name="comment" 
      id="comments" 
      autocomplete="off" 
      cols="30" 
      rows="10" 
      maxlength="140"
      pattern="[A-Z a-z]{140}"
      class="form__textarea form__input"
      placeholder="Comment max characters 140" 
      ></textarea>
      <label class="form__label" for="comment">Comment max characters 140</label>
    </div>
    <div class="form__group">
      <button class="btn btn-generic" id="form-button">
        Submit
      </button>
    <div>
  </form>
</section>
<% } else { %>
  <%- include ("../partials/submitForm") -%>
  <% } %>
<%- include ("../partials/footer") -%>