<%- include ("../partials/header") -%>
  <!-- Footer Information -->
<div class="footer__header header__style">
  <h2>
    Contact Us
  </h2>
</div>
<section class="form--container">
  <% if(!submit) { %>
  <form class="form" action="/contact" method="POST">
    <div class="form__group">
      <input 
      class="form__input" 
      type="text" 
        name="name" 
      id="name" 
      placeholder="Name" 
      pattern="[A-Z a-z]{1,50}"
      required
      >
      <label class="form__label" for="name">Name </label>
    </div>
    <div class="form__group">
      <input 
      type="email" 
      name="email" 
      class="form__input" 
      placeholder="Email address" 
      id="email" 
      required
      >
      <label class="form__label" for="email">Email address</label>
    </div>
    <div class="form__group">
      <textarea 
      name="comment" 
      id="comments" 
      autocomplete="off" 
      cols="30" 
      rows="10" 
      maxlength="140"
      pattern="[A-Z a-z]{140}"
      class="form__textarea form__input"
      placeholder="Comment max characters 140" 
      ></textarea>
      <label class="form__label" for="comment">Comment max characters 140</label>
    </div>
    <div class="form__group">
      <button class="btn btn-generic" id="form-button">
        Submit
      </button>
    <div>
  </form>
</section>
<% } else { %>
  <%- include ("../partials/submitForm") -%>
  <% } %>


<footer class="footer" id="contact">
  <section class="footer__info">
    <div class="contact--info">

      <div class="footer__info--address">
        J & M General Contractors 
        Fullerton, CA 
        License # 1002460
      </div>
      <div class="footer__info--phone">
        Call us: 866-755-4001 
      </div>
      <p>
      OR
      to reach
      </p>
      <div class="footer__info--sub-contact">
        <p>Nancy Montellano/Office Manager: 714-323-0649</p>
        <p>Katrina Shuper/Administration: 714-872-7224</p>
      </div>
      <div class="footer__info--email">
        Email us:SERVICE@JMGCINC.COM
      </div>
    </div>
  </section>
</footer>