<div class="slider">
    <div class="slide current">
      <div class="content">
      </div>
    </div>
  </div>
  <div class="m_typewriter__container">
    <h1 class="m_typewriter--header1">
      <span>J&M</span> 
      <span>General Contractors</span>
      <!-- <span class="txt-type" data-wait="3000" data-words='["Contractors", "Services", "Staff"]'></span> -->
    </h1>
    <div class="typewriter--lower">
      <h3 class="m_typewriter--header2">Call us to get a free quote for your next project</h3>
      <a class="phone-number" href="tel:999-999-9999">(999) - 999 - 9999</a>
      <a class="btn btn-generic" id="main-button" href="/contact">Contact</a>
    </div>
  </div>