<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>J & M General Contractor</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet"> 

		<!-- Font awesome kits to use icons -->
		<script src="https://kit.fontawesome.com/ada117092c.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<header class="header">
			<h1 class="logo"><a href="/"><img class="logo-img" src="./img/images/Logo.jpg" alt="J&M logo"></a></h1>
			<input type="checkbox" id="m_nav-toggle" class="m_nav-toggle"/>
			<nav class="nav">
				<ul class="m_nav__list">
					<li class="m_nav__list--item"><a class="nav--link" href="/">Home</a></li>
					<li class="m_nav__list--item"><a class="nav--link" href="/services">Services</a></li>
					<li class="m_nav__list--item"><a class="nav--link" href="/gallery">Gallery</a></li>
					<li class="m_nav__list--item"><a class="nav--link" href="/about-us">About</a></li>
					<li class="m_nav__list--item"><a class="nav--link" href="/testimonials">Testimonial</a></li>
					<li class="m_nav__list--item"><a class="nav--link" href="/contact" >Contact</a></li>
			</ul>
		</nav>
		<label for="m_nav-toggle" class="m_nav-toggle-label">
			<span></span>
		</label>
	</header>
	<script src="src/components/nav.js"></script>
	<br>
	<br>
	<br>
	<br>
<%- include ("m_home.ejs") -%>
</body>
</html>